<header class="app-header full main-layout">
    <div class="flex align-center">
        <nav class="flex align-center">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="logo clean-link"><h3>superBitcoin.com</h3></a>
            <a routerLink="/contact" routerLinkActive="active" class="clean-link">Contacts</a>
            <a routerLink="/stat" routerLinkActive="active" class="clean-link">Statistics</a>
        </nav>
        <div class="loggedin-user">
            <h4>Welcome {{loggedinUser.name}}, Your Balance is: BTC {{loggedinUser.balance}}</h4>
        </div>
    </div>
</header>
