<header class="home-header flex column">
    <h1>The world's most popular way to buy, sell, and trade bitcoin</h1>
    <p>
        Trusted by millions since 2022 with over $1 Trillion in bitcoin transactions.
    </p>
    <!-- The following section can be used with ng if or observable: -->
    <section *ngIf="bitcoinRate" class="bitcoin-rates-container flex column">
        <section class="bitcoin-rates flex">
            <h2>Choose a currency rate:</h2>
            <select [(ngModel)]="currency" (change)="getCurrExchangeRate()">
                <option *ngFor="let currencyOption of currencyOptions" [value]="currencyOption">
                    {{currencyOption}}
                </option>
            </select>
        </section>
        <h2>Bitcoin Rate: {{getCurrRate()}}</h2>
    </section>
</header>
