<header class="home-header flex column">
    <h1>The world's most popular way to buy, sell, and trade bitcoin</h1>
    <p>
        Trusted by millions since 2022 with over $1 Trillion in bitcoin transactions.
    </p>
    <!-- The following section can be used with ng if or observable: -->
    <section class="bitcoin-rates-container flex">
        <h4>
            Bitcoin/USD 192.3532
        </h4>
        <!-- The following select can be used with ng change: -->
        <select>
            <!-- Option Should be dynamic -->
            <option value="">
                USD
            </option>
        </select>
    </section>
</header>
