.contact-preview {
    .contact-card {
        padding: 10px;
        background-color: $clr6;
        gap: 10px;
        border-radius: 15px;

        .contact-data {
            flex-grow: 1;
            padding: 20px;
            gap: 10px;
        }
    }
}